#footer{
	background: #2a2d32;
	min-height: 518px;
	position: relative;
	clear: both;
}
.wrap {
    width: 1086px;
    margin: 0 auto;
}
.fNavi {
    padding-top: 40px;
}
.fNavi .co101{
	float: left;
	width: 28%
}
.fNavi .col02 {float: left;
    width: 44%;
    margin-left: 5%}
.fNavi .col03 {width: 22%;float:right}

.fNavi .tit_fNavi {
    font-size: 18px;
    color: #f46e18;
    padding-bottom: 26px;
    font-weight: normal;
}
.fNavi .menu_bot {
    padding-bottom: 30px;
}
.fNavi .menu_bot li {
    padding-bottom: 2px;
    text-transform: capitalize;
}
.fNavi .tit_fNavi {
    font-size: 18px;
    color: #f46e18;
    padding-bottom: 26px;
    font-weight: normal;
}

.fNavi .tit_fNavi {
    font-size: 18px;
    color: #f46e18;
    padding-bottom: 26px;
    font-weight: normal;
}
h3 {clear: both;}

div {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}